body {
    background-color: rgb(58, 58, 58);
    width: 350px;
}

p {
    color: white;
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.lw {
    font-size: 30px;
}

.pd {
    font-size: 20px;
}

li {
    list-style: none;
}

.dz {
    font-size: 19px;
}
.container { width: 960px; margin:0 auto; }
a{
    color: rgb(114, 114, 234);
    text-decoration: none;
}
